# DataStructures
Copyright Â© 2023 by Ernst Henle

## DataStructures (built-in, primitive, scalar)

In [ ]:
int # e.g. 23, 0 and -17

In [ ]:
30 + 10 # an integer operation

In [ ]:
type(40)

In [ ]:
float # e.g. -0.001 and 1.23e15

In [ ]:
1.8e2/4.5 # a floating point operation

In [ ]:
type(40.0)

In [ ]:
float('nan')

In [ ]:
float('inf')

In [ ]:
float('-inf')

In [ ]:
bool # i.e. True and False

In [ ]:
1 == 0 # Boolean operation

In [ ]:
type(1 == 0)

In [ ]:
1.0 + False

In [ ]:
3 - True

In [ ]:
str # e.g. "hello", "?", and "1"

In [ ]:
"lies, damn lies," + " and statistics" # String operation

In [ ]:
type('lies, damn lies, and statistics')

In [ ]:
#Cast an int to a string
str(1) + str(1)

In [ ]:
# Cast a string to an int
int('1') + int ('1')

## More on Data Types

In [ ]:
# Create an integer
x = 7

# Determine the data type of x
type(x)

In [ ]:
# Add 3 to x
x + 3

In [ ]:
# Create a float
x = 7.0

# Determine the data type of x
type(x)

In [ ]:
# Add 3 to x
x + 3.0

In [ ]:
# Add a float, an integer, and a Boolean
7 + 3.0 + True

In [ ]:
# Create a string
x = "a"

# Determine the data type of x
type(x)

In [ ]:
# Add b to x
x + "b"

In [ ]:
# Try to add 3 to a string
x + 3

In [ ]:
# Create a string
x = "7"

# Determine the data type of x
type(x)

In [ ]:
# If we try to add 3 to x, we will get an error
x + 3

In [ ]:
# Add "3" to x
x + "3"

## DataStructures (built-in, multi-dimensional)
Documentation on lists and other data structures
https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
list

In [ ]:
City = ['USA', 704] # List can have mixed types
type(City)

In [ ]:
City.append('Seattle')
City

In [ ]:
City[1]

In [ ]:
# Equal-length lists in a list create a rectangular strucure
Name = ['Seattle', 'San Jose', 'San Jose', 'La Paz', 'La Paz']
Country = ['USA', 'USA', 'Costa Rica', 'Mexico', 'Bolivia']
Population = [704, 1030, 333, 265, 757]
Cities = [Name, Country, Population]
Cities

In [ ]:
Cities[2][3]

In [ ]:
dict

In [ ]:
CityNamesByCountry = {'USA':['Seattle', 'San Jose'], 'Costa Rica':'San Jose', 'Mexico':'Oaxaca'}
type(CityNamesByCountry) # dict

In [ ]:
CityNamesByCountry

In [ ]:
CityNamesByCountry['USA']

In [ ]:
CityNamesByCountry['Mexico'] = 'La Paz'
CityNamesByCountry['Bolivia'] = 'La Paz'
CityNamesByCountry

In [ ]:
list(CityNamesByCountry.keys())

In [ ]:
list(CityNamesByCountry.values())

In [ ]:
list(CityNamesByCountry.items())

In [ ]:
'CostaRica' in CityNamesByCountry

In [ ]:
'Costa Rica' in CityNamesByCountry

In [ ]:
'LaPaz' in CityNamesByCountry.values()

In [ ]:
'La Paz' in CityNamesByCountry.values()

In [ ]:
CountryByCityNames = {'Seattle':'USA', 'San Jose':['USA', 'Costa Rica'], 'La Paz':['Bolivia', 'Mexico']}
CountryByCityNames

In [ ]:
# Verify that the same information is here
Cities

## DataStructures (imported, multi-dimensional)

In [ ]:
import numpy as np # make numpy package usable
import pandas as pd # make pandas package usable

In [ ]:
# Create an array of integers
x = np.array([5, -7, 1, 1, 99])

# Determine the data type of x
type(x)

In [ ]:
# Find out the data type for the elements in the array
x.dtype.name

In [ ]:
# If we can add 3 to this array.
x + 3

In [ ]:
# Create an array of strings
x = np.array(["abc", "", " ", "?", "7"])

In [ ]:
# Determine the data type of x
type(x)

In [ ]:
# Find out the data type for the elements in the array
x.dtype.name

In [ ]:
# If we try to add 3 to this array of strings we will get a TypeError.
x + 3

In [ ]:
# Create array of ages
ageList = [9, 9, 10, 8, 12, 10, 7, 8, 10, 8, 0, 9, 7, 9, 10, 9, 6, 9, 9, 11]
ages = np.array(ageList)
ages.std()

In [ ]:
# Cannot assign a string to a numeric array
ages[0] = 'a'

In [ ]:
# Create a histogram
import matplotlib.pyplot
matplotlib.pyplot.hist(ages)

In [ ]:
Students = pd.DataFrame()
Students

In [ ]:
# Add columns to the data frame (table)
Students['ages'] = ages
Students['Grade'] = [4, 3, 4, 3, 6, 5, 2, 3, 5, 3, 1, 4, 2, 5, 6, 4, 1, 4, 2, 6]
Students

In [ ]:
# Determine the correlation coefficient between the two columns
Students.corr()